body {
    margin: 0;
}

.main-container {
    width: 100%;
    min-height: 80px;  
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0; 
    padding: 2em 0; 
}

.container {
    font-family: monospace;
    color: azure;
    padding: 1em;
    font-size: 2rem;
}

/* Изменения для медиа-запросов */
@media (max-width: 768px) { /* Для телефонов и планшетов */
    .container {
        font-size: 4rem; 
    }
}

@media (min-width: 768px) { /* Для компьютеров */
    .container {
        font-size: 3rem;
    }
}
